Original data:

| name    | salary |
| ------- | ------ |
| Jack    | 19666  |
| Piper   | 74754  |
| Mia     | 62509  |
| Ulysses | 54866  |

In [2]:
import pandas as pd

In [51]:
employees = {'name': ['Jack', 'Piper', 'Mia', 'Ulysses'],
        'salary': [19666, 74754,  62509, 54866]}

# Create a DataFrame
# df = pd.DataFrame(employees)

In [59]:
# Option 1: using a simple loc. 

def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees = pd.DataFrame(employees)
    
    employees.loc[:,['salary']]=employees.loc[:,['salary']]*2
    
    return employees

In [ ]:
# Option 2: use the direct operator, without using selection and assignment.

def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    
    employees['salary'] *= 2 
    
    return employees

In [60]:
modifySalaryColumn(employees)

      name  salary
0     Jack   39332
1    Piper  149508
2      Mia  125018
3  Ulysses  109732